.subscribe-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
    vertical-align: top;
  }
  .my-name {
    color: red;
    font-size: 50;
    font-weight: bolder;
    border-radius: 15px;
    border-color: white;
    transition: 0.15s;
    cursor: pointer;
    text-decoration: underline;
  }
  .join-button {
    background-color: white;
    border-color: blue;
    height: 36px;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
    border-style: solid;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 1s;
  }
  .tweet-button {
    background-color: rgb(60, 108, 240);
    color: white;
    border: none;
    height: 36px;
    width: 110px;
    border-radius: 19px;
    cursor: pointer;
    font-weight: bolder;
    transition: box-shadow 0.3s;
    vertical-align: top;
  }
  .subscribe-button:hover {
    opacity: 0.7;
    text-transform: uppercase;
  }
  .my-name:hover {
    opacity: 0.3;
  }
  .subscribe-button:active {
    background-color: grey;
  }
  .join-button:hover {
    background-color: blue;
    color: white;
  }
  .join-button:active {
    opacity: 0.5;
  }
  .tweet-button:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .WebContainer {
    width: 100%;
    height: auto;
  }