.pic1 {
    width: 278px;
    height: 156px;
    object-fit: contain;
    display: block;
}

.pic2 {
    width: 278px;
    height: 156px;

}

.search-bar {
    display: block;
}

.video-1 {
    width: 300px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin-right: 2px;
    margin-left: auto;
}

.vide0-2 {
    width: 300px;
    vertical-align: top;
    display: inline-block;
}

.video-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 278px;

}

.video-stats {

    display: block;
}